.accordian-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  width: 500px;
}
.title {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  align-items: center;
  padding-left: 30px;
  background-color: aqua;
  cursor: pointer;
}
.heading {
  padding: 15px 0px;
}
.active {
  background-color: aqua;
  margin-top: 10px;
  padding: 20px 30px;
}
.inactive {
  display: none;
}
