.star-container {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  gap: 10px;
}
.star {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 10px;
}
.instar {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 10px;
}
